@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  font-family: "Montserrat";
}

.navbar-mov {
  position: fixed;
  width: 100%;
}
.navbar-toggler {
  outline: none !important;
}
/* Dropdown hover/active style */
.dropdown-item.active,
.dropdown-item:active {
  color: #ececec;
  background-color: black;
  border: none;
}

.dropdown-item:hover {
  color: black;
  background-color: #ececec;
  border: none;
}
/* Dropdown hover/active style end */

.navbar-light .navbar-toggler {
  border: none;
}

.nav-link {
  font-size: 1.4rem;
  font-weight: bold;
}

.dropdown-item {
  font-size: 1.25rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 2.6rem;
  color: white;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  padding-top: 0.5rem;
  padding-left: 1rem;
  font-size: 1.125rem;
}

.ad {
  background-color: #f29754;
  color: #993921;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2.5rem;
  padding-top: 4.3rem;
}

.introduction {
  font-size: 0.875rem;
  line-height: 20px;
  letter-spacing: 0.16px;
}

.prizes-list {
  background: #ce684f;
  box-shadow: 0px 3px 4px #a07250;
  border-radius: 15px;
  color: rgba(255, 255, 255, 0.87);
  padding-left: 2rem;
}

.prizes-items {
  line-height: 33px;
  letter-spacing: 0.16px;
  font-size: 0.875rem;
}

h2 {
  font-weight: bold;
  font-size: 1.5rem;
}

.prizes {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.introduction-container {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 2rem;
}

.carousel-indicators li {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: 1px solid #e7600d;
  margin-left: 1rem;
}

.carousel-indicators .active {
  opacity: 1;
  background: #f29754 !important;
}

.carousel-indicators {
  bottom: -50px;
}

.carousel-exp {
  background: #f29754;
  box-shadow: 0px 4px 4px #dfd2c7;
  border-radius: 15px;
  color: #ffffff;
  height: 231px;
}

.carousel-text {
  font-weight: bold;
  font-size: 0.75rem;
}
.carousel-content {
  font-size: 0.75rem;
}

.carousel-div {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.arrow-left {
  padding-right: 4%;
}

.footer-style {
  background-color: #ce684f;
}

.footer-text {
  font-size: 0.75rem;
  color: white;
}

.img-l-footer {
  padding-right: 0.7rem;
}

.img-rr-footer {
  padding-left: 1.5rem;
}

.copy-footer {
  padding-left: 3.6rem;
}
.icons-lg-nav {
  display: none !important;
}

/*.icons-mobile {
  padding-left: 3.6rem;
  padding-right: 2rem;
  margin-left: 3rem;
  background-color: gray;
  margin-right: 3rem;
}*/

.container-icons-nav {
  padding-right: 1.45rem;
}

.twitter-icon,
.facebook-icon {
  padding-right: 2rem;
  padding-left: 2rem;
}

.dropdown-toggle::after {
  display: none;
}

/*.navbar-toggle-icon {
  background-image: url("/assets/Images/arrow-down.svg") !important;
}*/
.navbar-light .navbar-toggler-icon {
  background-image: url("/assets/Images/burger-icon.svg") !important;
}

.dropdown-item {
  background-color: transparent !important;
}

.people-dot-one {
  background: #fff5ed !important;
}

.people-dot-two {
  background: #e3e1e1 !important;
}

.people-dot-three {
  background: #e3e0e0 !important;
}

.wa-icon {
  position: fixed;
  bottom: 9.8rem;
  right: 0.9rem;
}

.hg {
  height: 105px;
}

/*Bio/Cris*/

/*.button-cris {
  background: #9a3820;
  color: #ffff;
}*/

.bio-p-container {
  padding-right: 2rem;
  padding-left: 2rem;
  font-size: 0.875rem;
}

.cris-title {
  margin: 0;
}

/*Conf*/

.cristina-dot {
  background: #fff5ed !important;
}

.a-cris-submenu {
  border: 1px solid #9a3820;
  box-sizing: border-box;
  border-radius: 3px;
  color: #9a3820;
  font-size: 0.875rem;
  font-weight: bold;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
  text-decoration: none !important;
}

.a-cris-submenu:hover {
  color: #9a3820;
}
//Para una sola page
/*.a-cris-submenu:hover {
  color: white;
}*/

/*.a-cris-submenu:active {
  color: white;
}*/

.bts-sub {
  background: #9a3820;
  color: white;
}

.hide {
  display: none;
}

/*.card-course {
  border-color: transparent;
}

.card-style-course {
  position: absolute;
  z-index: -1;
  padding: 0.7rem;
}

.btn-course {
  width: 65%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-size: 0.75rem;
  background: #9a3820;
  border-radius: 3px;
  border-color: #9a3820;
}

.card-container-text {
  background: #f1eeec;
  border-radius: 16px;
}

.card-body-course {
  padding: 0.5rem;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 16px;
}

.card-container-group-1 {
  position: absolute;
  /* padding: 6rem; */
/* padding-top: 2rem; 
  height: 165px;
}

.container-text-card-1 {
  font-size: 0.75rem;
  padding-top: 50%;
}
.card-text-course {
  text-align: center;
}*/

.title-course {
  padding-left: 2rem;
}

.first-card-container {
  position: relative;
  /* margin: -1rem; */
  text-align: center;
  font-size: 0.75rem;
}

.second-card-container {
  position: relative;
  z-index: -1;
  /* padding: 0rem; */
  /* margin: -1rem; */
  margin: -1rem;
  padding-top: 3rem;
}

.third-card-container {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 16px;
}

.inside-card-container {
  padding: 0.5rem;
}

.card-text-course {
  padding-top: 85%;
}

.btn-card-container {
  text-align: center;
}

.btn-course {
  font-size: 0.65rem;
  text-align: center;
  padding: 0.1rem;
  line-height: 24px;
  width: 95%;
  background: #9a3820;
  border-radius: 3px;
  border: none;
}

@media only screen and (max-width: 992px) {
  .navbar-mov {
    position: fixed;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0 !important;
  }

  .icons-nav-mobile {
    width: 100% !important;
    padding-left: 8rem;
    padding-right: 3.8rem;
  }
  .expandible-nav-ul {
    background-color: #f29754;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
  }

  .dropdown-item {
    color: white;
  }

  .navbar-light .navbar-nav .active > .nav-link,
  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .show > .nav-link {
    color: white;
  }
  .dropdown-item:hover {
    color: #9a3820;
  }

  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-light .navbar-nav .nav-link:hover {
    color: #9a3820 !important;
  }

  .cris-logo {
    padding-left: 1.3rem;
  }

  .burger-icon {
    padding-right: 2rem;
    /*margin-right: 1.2rem;*/
  }

  /*bio/cristina*/

  .bio-img-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .cris-title {
    padding-left: 2rem !important;
  }

  .first-card-container {
    padding-left: 3rem;
  }
}

@media only screen and (min-width: 993px) {
  .carousel-exp {
    height: 520px;
  }
  .carousel-indicators li {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: 1px solid #e7600d !important;
    margin-left: 1.95rem;
  }

  .prizes-list {
    height: 576px;
  }
  .prizes-items {
    line-height: 45px;
    letter-spacing: 0.16px;
    font-size: 1.125em;
  }

  .carousel-text {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .carousel-content {
    font-size: 1.125rem;
  }

  h2 {
    font-size: 2rem;
  }

  .dropdown-item:hover {
    color: #9a3820;
    background-color: #ececec;
    border: none;
  }

  .introduction {
    font-size: 1.5rem;
    line-height: 24px;
    letter-spacing: 0.24px;
  }

  .ad {
    font-size: 2.5rem;
  }

  .ad-container {
    padding-right: 40%;
  }

  .first-ad {
    text-align: right !important;
  }

  .second-ad {
    padding-right: 0;
  }

  .dropdown-menu {
    background: #fffdfb;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }

  .dropdown-item {
    font-size: 1.25rem;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 1rem;
    color: #9a3820;
  }
  .clients-lg {
    width: 90%;
    padding-left: 5%;
  }

  /*.icon-footer {
    width: 40%;
    height: 4vh;
  }*/

  .icons-lg-nav {
    display: block !important;
  }

  .active-bt,
  .bt:hover {
    color: #f29754 !important;
  }

  .drop-container {
    background: #9a3820;
    border-radius: 10px;
    color: white !important;
  }

  .a-cris-submenu {
    font-size: 1.25rem;
    border-radius: 3px;
  }

  .sub-links {
    padding-left: 3rem;
  }

  .bio-p-container {
    padding-right: 0;
    padding-left: 1rem;
    font-size: 0.875rem;
  }

  .cris-row-cotainer {
    padding-bottom: 5rem !important;
    margin-bottom: 5rem !important;
  }

  .btn-course {
    font-size: 1.5rem;
    line-height: 43px;
  }

  .first-card-container {
    font-size: 1.125rem;
  }

  .title-course {
    .title-course {
      text-align: center;
      padding-left: 0rem;
    }
  }
}
